[submodule "vim/bundle/Vundlevim"]
	path = vim/bundle/Vundlevim
	url = https://github.com/VundleVim/Vundlevim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/scss-syntaxvim"]
	path = vim/bundle/scss-syntaxvim
	url = https://github.com/cakebaker/scss-syntaxvim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/jshint2vim"]
	path = vim/bundle/jshint2vim
	url = https://github.com/Shutnik/jshint2vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/commentsvim"]
	path = vim/bundle/commentsvim
	url = https://github.com/spattersongt/commentsvim
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "vim/bundle/html5vim"]
	path = vim/bundle/html5vim
	url = https://github.com/othree/html5vim
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/xterm16vim"]
	path = vim/bundle/xterm16vim
	url = https://github.com/vim-scripts/xterm16vim
